.artistHead {
  background: rgb(44, 44, 60);
  background: linear-gradient(
    0deg,
    rgba(44, 44, 60, 1) 0%,
    rgba(68, 68, 92, 1) 100%
  );
  display: flex;
  align-items: center;
  height: 30vh;
  padding: 2rem 4rem;
  img {
    height: 100%;
    border-radius: 50%;
  }
  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 1rem;

    h2 {
      font-size: 3rem;
      margin: 0;
    }
    span {
      font-size: smaller;
    }
    p {
      font-size: smaller;
      color: rgba(255, 255, 255, 0.5);
      height: 65%;
      overflow-y: hidden;
      span {
        font-size: medium;
        cursor: pointer;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.listaAlbums {
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  width: 95%;

  img {
    border-radius: 10%;
    box-shadow: 8px 8px 25px -10px black;
  }

  .album {
    width: 20%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 4%;
    cursor: pointer;

    p {
      word-break: break-all;
    }
  }
}

.artistPageTitles {
  width: 95%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
