.conteudoTop {
  text-align: center;
  background-color: #242431;
  padding: 4%;
  box-shadow: 0px -17px 50px 2px black;

  .searchInput {
    display: flex;
    justify-content: center;
  }

  span {
    display: flex;
  }

  input {
    width: 100%;
    border: none;
  }

  label {
    background-color: white;
    padding: 1%;
    border-radius: 35px;
    width: 55%;
    display: flex;
  }

  input:focus {
    outline: none;
  }
}

.titulosTop {
  padding-bottom: 2%;

  h1 {
    font-size: 3rem;
  }

  p {
    padding-bottom: 1%;
    font-size: 1.5rem;
    font-weight: 200;
  }
}
