.topPageLoading {
  img {
    width: 5%;
    margin-left: 1%;
  }

  h1 {
    background: rgb(44, 44, 60);
    background: linear-gradient(
      0deg,
      rgba(44, 44, 60, 1) 0%,
      rgba(68, 68, 92, 1) 100%
    );

    padding: 4rem 2rem 2rem 2rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
  }
}
