.conteudo {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  img {
    border-radius: 10px;
  }

  .albumName {
    font-weight: 600;
    margin-top: 0.5rem;
    font-size: 1.3rem;
  }

  .albumCreator {
    font-weight: 400;
    font-size: 1.2rem;
  }

  .albums {
    scroll-behavior: smooth;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    .album {
      margin: 1rem;
    }
  }
  .scroll {
    width: 2rem;
    height: 2rem;
  }
}

table {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 100%;
}

th {
  text-align: left;
  font-weight: 200;
}

td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

tr:hover {
  background-color: rgb(245, 244, 244);
}

.tablePosition {
  width: 90%;
  margin: auto;
}
