* {
}
.main {
  display: flex;
  flex-direction: row;
  background-color: #2c2c3c;
  // background: rgb(44, 44, 60);
  // background: linear-gradient(
  //   0deg,
  //   rgba(44, 44, 60, 1) 75%,
  //   rgba(68, 68, 92, 1) 100%
  // );
  // background-color: #44445c;
  width: 100%;
}
.main-conteudo {
  width: 85%;
}
