* {
}
.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 90% 10%;
  gap: 0px 0px;
  grid-template-areas: "nav conteudo" "player player";
  background-color: #2c2c3c;
}
.main-conteudo {
  grid-area: conteudo;
}
