.home {
  color: white;
  min-width: -webkit-fill-available;
  max-width: 1650px;
  overflow-y: auto;
}
.PageName {
  background: rgb(44, 44, 60);
  background: linear-gradient(
    0deg,
    rgba(44, 44, 60, 1) 0%,
    rgba(68, 68, 92, 1) 100%
  );

  padding: 4rem 2rem 2rem 2rem;
  font-size: 3rem;
}
.itemName {
  font-weight: 600;
  margin-top: 0.5rem;
  max-width: 12rem;

  span:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.artistName {
  text-align: center;
  max-width: 12rem;
}

.albumCreator {
  font-weight: 400;
  font-size: 1.2rem;
}

.carrossel {
  scroll-behavior: smooth;
  display: flex;
  width: 95%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: auto;
  padding-bottom: 2rem;
  .carrossel-item {
    margin-right: 1.5rem;
    section {
      img {
        opacity: 1;
        box-shadow: 8px 8px 25px -10px black;
      }
      &:hover img {
        opacity: 0.3 !important;
      }
      &:hover .background-shadow {
        opacity: 0.8;
      }
      &:hover .middle {
        opacity: 1;
      }
      position: relative;
    }
    .item-foto {
      transition: 0.1s ease;
      display: block;
      max-width: 12rem;
      border-radius: 10px;
    }
    .artist-foto {
      transition: 0.1s ease;
      display: block;
      max-width: 12rem;
      border-radius: 50%;
    }
  }
}
.controls {
  display: flex;
  width: 95%;
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  .controls-botoes {
    display: flex;
    flex-direction: row;
  }
  h2 {
    font-size: 2rem;
  }
}
.scroll {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  text-align: center;
  svg {
    font-size: 2rem;
    &:active {
      fill: #47cafb;
    }
    &:hover {
      color: white;
    }
  }
  &:focus {
    outline: none;
  }

  .disabled {
    color: rgba(0, 0, 0, 0.3);
    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
    &:hover {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
.background-shadow {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  transition: 0.1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}
.background-shadow-artist {
  border-radius: 50%;
}
.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;

  .MuiSvgIcon-root {
    z-index: -1;
    fill: lightgray;
    width: 2em;
    height: 2em;
    cursor: pointer;
    transition: 0.1s ease;
    &:hover {
      fill: white;
      width: 2.3em;
      height: 2.3em;
    }
    &:active {
      fill: #47cafb;
      width: 1.7em;
      height: 1.7em;
    }
  }
}

.artist-middle {
  border-radius: 50%;
}
.album-artistName {
  display: block;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}

// table {
//   font-weight: 500;
//   width: 100%;
// }

// th {
//   text-align: left;
//   font-weight: 200;
// }

// td {
//   padding-top: 1rem;
//   padding-bottom: 1rem;
// }

// tr:hover {
//   background-color: rgb(245, 244, 244);
// }

.tablePosition {
  width: 90%;
  margin: auto;
}

.tituto-section {
  margin: auto;
  width: 95%;
}
