.body {
  overflow: hidden;
  display: flex;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 42%,
    rgba(203, 201, 242, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 42%,
    rgba(203, 201, 242, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 42%,
    rgba(203, 201, 242, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#cbc9f2",GradientType=1);
}
.registoBox {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    35deg,
    rgba(255, 255, 255, 1) 40%,
    rgba(162, 159, 214, 1) 100%
  );
  background: -webkit-linear-gradient(
    35deg,
    rgba(255, 255, 255, 1) 40%,
    rgba(162, 159, 214, 1) 100%
  );
  background: linear-gradient(
    35deg,
    rgba(255, 255, 255, 1) 40%,
    rgba(162, 159, 214, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#a29fd6",GradientType=1);
  display: flex;
  padding: 4rem;
  position: relative;
  top: 50%;
  left: 30%;
  width: 45vw;
  height: fit-content;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 1px 2px 50px rgba(0, 0, 0, 0.5);
}

.coluna-form {
  color: #36365c !important;
  width: 100%;
  h1 {
    margin: 0rem 0rem 2rem 0rem;
    text-align: left;
    font-size: 3rem;
    color: #36365c;
    font-family: "Poppins", sans-serif;
  }
  button {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #36365c;
    border: none;
    border-radius: 10px;
    border: 1px solid #36365c;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    transition: all 0.3s ease;
    &:hover {
      background: rgba(255, 94, 0, 0.884);
      color: white;
      outline: none;
      border: 1px solid rgba(255, 94, 0, 0.884);
    }
    &:focus {
      outline: none;
    }
    img {
      width: 1rem;
      margin-right: 1rem;
    }
  }
  form {
    input {
      width: 100%;
      height: 3rem;
      display: block;
      padding: 0.5rem;
      border-radius: 10px;
      border: 1px solid darkgray;
      background-color: whitesmoke;
      &:focus {
        border: 1px solid darkgray;
        outline: none;
      }
    }
    .passwords {
      display: flex;
      justify-content: space-between;
      section {
        margin: 0;
        width: 45%;
      }
      .info {
        font-size: 0.65rem;
      }
    }
  }

  section {
    padding: 1rem 0rem;
  }

  .help {
    text-align: center;
    margin-top: 2rem;
    font-size: small;

    a {
      color: darkorange;
      text-decoration: none;
      &:active {
        color: #ff4800;
      }
    }
    p {
      margin: 1rem;
      font-size: large;
      color: darkorange;
    }
  }
  .erro {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    height: fit-content;
    border: 1px solid red;
    border-radius: 5px;
    margin: 0;
    background-color: rgba(255, 62, 62, 0.671);
    transition: all 0.5s ease;
  }
  .sucesso {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    color: black;
    font-weight: 100;
    font-size: 1rem;
    width: 100%;
    height: fit-content;
    border: 2px solid rgb(81, 255, 0);
    border-radius: 5px;
    margin: 0;
    background-color: rgba(218, 255, 184, 0.87);
    transition: all 0.5s ease;
  }
}
.coluna-logo {
  position: relative;
  right: -7%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  img {
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .passwords {
    display: flex;
    flex-direction: column;
    section {
      width: 100% !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .body {
    overflow-y: scroll;
  }
  .coluna-logo {
    display: none;
  }
  .registoBox {
    border-radius: 0px;
    box-shadow: inherit;
    background: transparent;
    padding: 1.5rem;
    transition: all 0.5s ease;
    width: 100vw;
    height: fit-content;
    position: static;
    transform: translate(0%, 0%);
  }
  .passwords {
    display: flex;
    flex-direction: column;
    section {
      width: 100% !important;
    }
  }
} ;
