nav {
  color: rgb(228, 228, 228);
  padding: 1rem;
  height: 100vh;
  width: 15%;
  min-width: 15rem;
  background-color: #36365c;
  section {
    height: 50%;
    ul {
      list-style-type: none;
    }
  }
}

.forAppIcons {
  display: flex;
  padding: 5%;
  align-items: center;

  h1 {
    padding-left: 5%;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.forUser {
  margin-top: 20%;
  h1 {
    padding: 5%;
    font-size: 1.2rem;
    font-weight: 500;
  }

  p {
    font-weight: 300;
    color: #b7b7b7;
  }
}

.forUserPlaylists {
  margin-top: 20%;
  h1 {
    font-size: 1rem;
    padding: 5%;
  }

  p {
    font-weight: 300;
    color: #b7b7b7;
  }
}

.sideNav {
  .navContentWidth {
    width: 100%;
  }
}
