nav {
  color: rgb(228, 228, 228);
  grid-area: nav;
  // height: 100vh;
  // width: 15%;
  // min-width: 15rem;
  background-color: #36365c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sideNav {
}

//top
.topInfo {
  background-color: #313152;
  text-align: center;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  img {
    width: 25%;
    cursor: pointer;
  }
}

.userInfo {
  font-size: 0.8rem;
  display: flex;
  padding: 10%;
  align-items: center;

  h1 {
    padding-left: 5%;
    font-weight: 300;
  }
}

//center Home
.nameIcons {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  cursor: pointer;

  h1 {
    padding-left: 5%;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.nameIconsDesativos {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;

  h1 {
    padding-left: 5%;
    font-size: 1.2rem;
    font-weight: 500;
    color: grey;
  }
}

.userPlaylist {
  display: flex;
  padding-left: 20%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;

  h1 {
    padding-left: 5%;
    font-size: 1.2rem;
    font-weight: 300;
    color: grey;
  }
}

//bottom

.logout {
  font-size: 0.8rem;
  display: flex;
  padding: 10%;
  align-items: center;
  cursor: pointer;
  h1 {
    padding-left: 5%;
    font-size: 1.2rem;
    font-weight: 300;
  }
}
.loginUser {
  background-color: #313152;
  justify-content: flex-end;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;

  .loginEmail {
    padding-left: 1%;
  }
}

.logout:hover {
  background-color: #2b2b49;
}
.bottomInfo {
  // border-top: 2px solid #2b2b49;
  // box-shadow: -41px 42px 30px 25px black;
  background-color: #313152;
}
.conteudoTop {
  width: 100%;
  text-align: center;

  .searchInput {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  label {
    background-color: white;
    border-radius: 35px;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    display: flex;
    width: 20%;
    justify-content: center;
  }

  input {
    width: 80%;
    border: none;
    &:focus {
      outline: none;
    }
    background-color: transparent;
  }
}

.titulosTop {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 200;
  }
}
