nav {
  color: rgb(228, 228, 228);
  padding: 1rem;
  height: 100vh;
  width: 15%;
  min-width: 15rem;
  background-color: #36365c;
  section {
    height: 50%;
    ul {
      list-style-type: none;
    }
  }
}
