nav {
  color: rgb(228, 228, 228);
  grid-area: nav;
  // height: 100vh;
  // width: 15%;
  // min-width: 15rem;
  background-color: #36365c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sideNav {
  .navContentWidth {
    width: 100%;
  }
}

//top
.topInfo {
  border-bottom: 2px solid #2b2b49;
  // box-shadow: -5px -41px 30px 25px black;
}

.userInfo {
  font-size: 0.8rem;
  display: flex;
  padding: 10%;
  align-items: center;

  h1 {
    padding-left: 5%;
    font-weight: 300;
  }
}

//center
.nameIcons {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  cursor: pointer;

  h1 {
    padding-left: 5%;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

//bottom

.logout {
  font-size: 0.8rem;
  display: flex;
  padding: 10%;
  align-items: center;
  cursor: pointer;
  h1 {
    padding-left: 5%;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.logout:hover {
  background-color: #2b2b49;
}
.bottomInfo {
  border-top: 2px solid #2b2b49;
  // box-shadow: -41px 42px 30px 25px black;
}
