.card-shadow {
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.playlist {
  border-radius: 1rem;
  padding: 2rem 17rem;
  background-color: white;
  position: absolute;

  color: black;
}
