.player {
  background-color: #1e1e29;
  grid-area: player;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 6px 25px 0px black;
}
.time-control {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    width: 10%;
    display: flex;
    justify-content: center;
  }
  input {
    width: 90%;
  }
}

.play-control {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  span {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .play {
    font-size: xxx-large;
    &:active {
      color: #478ffb;
    }
  }
  .pause {
    font-size: xxx-large;
    &:active {
      color: #478ffb;
    }
  }
  .skip-forward {
    font-size: xx-large;
    &:active {
      color: #478ffb;
    }
  }
  .skip-back {
    font-size: xx-large;
    &:active {
      color: #478ffb;
    }
  }
  .shuffle {
    font-size: larger;
    &:active {
      color: #478ffb;
    }
  }

  .shuffle-ativado {
    color: #47cafb;
  }
  .repeat {
    font-size: larger;
    &:active {
      color: #478ffb;
    }
  }

  svg {
    cursor: pointer;
    // font-size: xxx-large;
    &:hover {
      color: #47cafb;
    }
  }
}
.player-playingNow {
  display: flex;
  width: 25%;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    .title {
    }
    .artist {
      font-size: small;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
.player-content {
  width: 50%;
}
.player-extra-controls {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}
.skip-forward {
}
.volume {
  display: flex;
  justify-content: space-between;
  width: 50% !important;
  span {
  }
}
