* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  &::-webkit-scrollbar {
    width: 0.75rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(68, 68, 92, 1);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

@import "./login_registo.scss";
@import "./dashboard.scss";
@import "./nav.scss";
@import "./home.scss";
@import "./Preview.scss";
@import "./playlistAlbum.scss";
@import "./player.scss";
@import "./artistPage.scss";
