* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@import "./login_registo.scss";
@import "./home.scss";
@import "./nav.scss";
@import "./conteudo.scss";
